process {
    params.threads = 12
}

params {
    // input options
    input_genomes = null
    genome_metadata = null
    peptides_fasta = null

    // output options
    outdir = null
}

profiles {
    conda {
        conda.enabled = true
        conda.channels = ['conda-forge', 'bioconda', 'defaults']
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }

    docker {
        docker.enabled = true
        conda.enabled = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false

    }
}

manifest {
    name            = 'peptide-mining'
    author          = """Elizabeth McDaniel"""
    homePage        = 'https://github.com/elizabethmcd/bacMAGminning'
    description     = """Mining bacterial proteomes for bioactive peptides."""
    mainScript      = 'main.nf'
    nextflowVersion = '!>=23.04.0'
    version         = '0.0.1'
}